<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TimbreFINKOK.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <applicationSettings>
        <TimbreFINKOK.My.MySettings>
            <setting name="TimbreFINKOK_timbrefinkok_StampSOAP" serializeAs="String">
                <value>https://demo-facturacion.finkok.com/servicios/soap/stamp.wsdl</value>
            </setting>
        </TimbreFINKOK.My.MySettings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Application">
                    <security mode="Transport" />
                </binding>
                <binding name="Application1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://demo-facturacion.finkok.com/servicios/soap/stamp"
                binding="basicHttpBinding" bindingConfiguration="Application"
                contract="DemoTimbreFINKOK.Application" name="Application" />
        </client>
    </system.serviceModel>
</configuration>
