@charset "utf-8";
/* CSS Document */

TD { 
FONT: 10pt Arial 
} 
A:link { 
FONT: 10pt Arial; COLOR: #1c5d6f; TEXT-DECORATION: none 
} 
A:visited { 
FONT: 10pt Arial; COLOR: #000000; TEXT-DECORATION: none 
} 
A:hover {
	FONT: 10pt Arial;
	BACKGROUND-COLOR: #ecf5ff;
	TEXT-DECORATION: underline;
	color: #000;
} 
SELECT { 
FONT: bold 7pt Arial; COLOR: #ffffff; BACKGROUND-COLOR: #595959 
} 
#form1 table tr td p label {
	text-align: center;
}
#form1 table tr td label {
	text-align: center;
}
th {
	font-size: 14pt;
}
th {
	color: #000;
}
th {
	font-size: 10pt;
}
#form1 table {
	color: #000;
}
th {
	font-size: 9pt;
}
th {
	font-size: 10pt;
}
