<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="20.1.0" targetFramework="net48" />
  <package id="Alternet.Studio.Common" version="9.5.1" targetFramework="net48" />
  <package id="Alternet.Studio.Roslyn" version="9.5.1" targetFramework="net48" />
  <package id="Alternet.Studio.Roslyn.Features" version="9.5.1" targetFramework="net48" />
  <package id="Alternet.Studio.Syntax" version="9.5.1" targetFramework="net48" />
  <package id="Alternet.Studio.Syntax.Parsers.Roslyn" version="9.5.1" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="EPPlus" version="6.2.10" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net48" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net48" />
  <package id="Humanizer.Core" version="2.14.1" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net48" />
  <package id="itextsharp.xmlworker" version="5.5.13.2" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.4" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.AnalyzerUtilities" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp.Features" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Elfie" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Features" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Features" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.DiaSymReader" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net48" />
  <package id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net48" developmentDependency="true" />
  <package id="Moment.js" version="2.30.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.AttributedModel" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.Convention" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.Hosting" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.Runtime" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.TypedParts" version="7.0.0" targetFramework="net48" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="7.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.3" targetFramework="net48" />
  <package id="System.Threading.Channels" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>