<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="despacho.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="cnx" connectionString="Data Source=serverc1.ddns.net;Initial Catalog=pepi;user id=voss; password=voss*2017;" providerName="System.Data.SqlClient"/>
    <add name="cnxCompras" connectionString="Data Source=serverc1.ddns.net;Initial Catalog=Arcanet-Concreto;user id=voss; password=voss*2017;" providerName="System.Data.SqlClient"/>
    <!--<add name="cnx" connectionString="Data Source=WIN-H7CMFN1LO9U\SQLEXPRESS01;Initial Catalog=pepi;user =voss; password=voss*2017;"
      providerName="System.Data.SqlClient"/>-->
    <!--<add name="cnxLocal" connectionString="Data Source=DESKTOP-P14K7GV;Initial Catalog=pepi;User ID=sa;Password=Admin*2020" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.codedom>
    <compilers/>
  </system.codedom>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <despacho.Properties.Settings>
      <setting name="despacho_Cancelacion1_CancelSOAP" serializeAs="String">
        <value>https://facturacion.finkok.com/servicios/soap/cancel</value>
      </setting>
      <setting name="despacho_DemoCancelacion_CancelSOAP" serializeAs="String">
        <value>https://demo-facturacion.finkok.com/servicios/soap/cancel</value>
      </setting>
    </despacho.Properties.Settings>
  </applicationSettings>
</configuration>