<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="despacho.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="cnx" connectionString="Data Source=DESKTOP-C7BC9BU;Initial Catalog=pepi;user id=sa; password=Sampras1;" providerName="System.Data.SqlClient" />
    <!--<add name="cnx" connectionString="Data Source=serverc1.ddns.net;Initial Catalog=pepi;user =voss; password=voss*2017;" providerName="System.Data.SqlClient"/>-->
    <!-- <add name="cnxCompras" connectionString="Data Source=PEPI\SERVER19;Initial Catalog=Arcanet-Concreto;user id=compras; password=compras*2020;" providerName="System.Data.SqlClient" /> -->
    <!--<add name="cnxCompras" connectionString="Data Source=serverc1.ddns.net;Initial Catalog=Arcanet-Concreto;user id=voss; password=voss*2017;" providerName="System.Data.SqlClient"/>-->
    <!-- <add name="BlockIrapuatoRemisiones" connectionString="Data Source=PEPI\COMPAC21;Initial Catalog=adBLOCK_PEPI;user id=sa; password=C0mpac01;" providerName="System.Data.SqlClient" />
    <add name="BlockSaltilloRemisiones" connectionString="Data Source=PEPI\COMPAC21;Initial Catalog=adBLOCK_PEPI20211;user id=sa; password=C0mpac01;" providerName="System.Data.SqlClient" /> -->
    <add name="cnxLocal" connectionString="Data Source=DESKTOP-C7BC9BU;Initial Catalog=pepi;User ID=sa;Password=Sampras1" providerName="System.Data.SqlClient" />
    <!-- <add name="Nomina" connectionString="Data Source=LAPTOP-BE8N3SII\SQLEXPRESS;Initial Catalog=document_13766407-23f7-4a9a-a301-c8b45934c46a_metadata;User ID=sa;Password=C0mpac01" providerName="System.Data.SqlClient" /> -->
     <add name="contpaqcnx" connectionString="Data Source=DESKTOP-C7BC9BU;Initial Catalog=adPEPI_2016;user id=sa; password=Sampras1;" providerName="System.Data.SqlClient" /> 
    <!--<add name="contpaqcnx" connectionString="Data Source=serverc1.ddns.net;Initial Catalog=adPEPI_2016;user id=sasa; password=C0mpac01;" providerName="System.Data.SqlClient"/>-->
    <!-- <add name="ConcretoSaltillo" connectionString="Data Source=PEPI\COMPAC21;Initial Catalog=ctnDPP_17;User ID=sa;Password=C0mpac01" providerName="System.Data.SqlClient" />
    <add name="ConcretoIrapuato" connectionString="Data Source=PEPI\COMPAC21;Initial Catalog=ctnPEPIRAPUATO;User ID=sa;Password=C0mpac01" providerName="System.Data.SqlClient" />
    <add name="BlockSaltillo" connectionString="Data Source=PEPI\COMPAC21;Initial Catalog=ctnBLOCK_PEPI_SALT;User ID=sa;Password=C0mpac01" providerName="System.Data.SqlClient" />
    <add name="BlockIrapuato" connectionString="Data Source=PEPI\COMPAC21;Initial Catalog=ctnBLOCK_PEPI;User ID=sa;Password=C0mpac01" providerName="System.Data.SqlClient" />
    <add name="Externos" connectionString="Data Source=PEPI\COMPAC21;Initial Catalog=ctnPEPI_2017;User ID=sa;Password=C0mpac01" providerName="System.Data.SqlClient" />
    <add name="BancoConcretosSaltillo" connectionString="Data Source=PEPI\COMPAC21;Initial Catalog=ctPEPI15;User ID=sa;Password=C0mpac01" providerName="System.Data.SqlClient" />
    <add name="BancoBlockSaltillo" connectionString="Data Source=PEPI\COMPAC21;Initial Catalog=ctBLOCK_PEPI_SALTILLO;User ID=sa;Password=C0mpac01" providerName="System.Data.SqlClient" />
    <add name="BancoConcretosIrapuato" connectionString="Data SourcePEPI\COMPAC21;Initial Catalog=ctRPEPI2009;User ID=sa;Password=C0mpac01" providerName="System.Data.SqlClient" />
    <add name="BancoBlockIrapuato" connectionString="Data Source=PEPI\COMPAC21;Initial Catalog=ctBLOCK_PEPI;User ID=sa;Password=C0mpac01" providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime maxRequestLength="2147483647" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <despacho.Properties.Settings>
      <setting name="despacho_Cancelacion1_CancelSOAP" serializeAs="String">
        <value>https://facturacion.finkok.com/servicios/soap/cancel</value>
      </setting>
      <setting name="despacho_DemoCancelacion_CancelSOAP" serializeAs="String">
        <value>https://demo-facturacion.finkok.com/servicios/soap/cancel</value>
      </setting>
    </despacho.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.0.0" newVersion="4.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- <system.codedom>
    <compilers>
    
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.6.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.6.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom> -->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>