<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <connectionStrings>
    <add name="conexion" connectionString="Data Source=serverc1.ddns.net\SQLEXPRESS01;Initial Catalog=pepi; User ID=voss; Password=voss*2017;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Empresa" value="CONCRETOS PEPI"/>
  </appSettings>
</configuration>
